#MessagesCont{

}
#MessageCard{
  /* width: 100%; */
  padding: 10px;
  margin: 20px;
  text-align: left;
  border: 1px solid #aa0e25;
  border-radius: 10px;
}

/* #MessageList{
  border: 3px solid #aa0e25;
  display: inline-block;
  position: fixed;
  overflow-y: scroll;
  left:0;
  width: 19%;
  margin-left: 1%;
  height:800px;

} */

#MessageEventBox{
  right: 0;
  margin-right: 1%;

}
/* #MessageForm{
  position: fixed;
  bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  padding-right: 2%;
  width: 80%;

} */
/* form#MessageForm > div:first-child{
  margin: 10px;
  margin-right: 5%;
} */
/* div#MessageEventBox > div:first-child{
  width:100%;
} */

/* #FormTextArea{
  max-height: 300px;
  min-height: 100px;

} */
