/*Color Templates:
meetup: #e51937
darker red: #aa0e25
darker meetup: #d00c29
background: #edeef0;
  */

/*
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;
*/
#root, html, body {
  background-color: #edeef0;
  height: 100%;
}



.App {
  text-align: center;
  background-color: #edeef0;
  background-size: cover;
  padding: inherit;
}

.App-header {
  background-color: #aa0e25;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {

  font-size: 3em;
  margin-bottom:0;
}

.App-intro {
  font-size: large;
}
#NewMeetFriends{
  margin:9% auto;
  padding: 20px;
  background-color: #aa0e25;
  color: white;
}


/*Explore Places CSS  */

#ExplorePlacesCont, #ExploreNearbyList{
  margin:0 auto;
  margin-bottom: 20px;
}
.PlaceCard{
  height: 450px;
  margin: 20px;
  padding:20px 10px;
  margin-bottom:60px;
}
.PlaceCardImage{
  height: 250px;
}
.PlaceCardTitle{
  height: 60px;
}


/* Loading CSS Component */
#Loading{
  /* background-color: #222; */
  margin: 0 auto;
  padding: 100px;
}

/* SearchBars */
#YelpSearch, #EventForm{
  margin: 10px auto;
  border-radius: 20px;
  border: 5px solid #aa0e25;
  padding: 20px;
  width:90%;
}
/* Google Maps */
#GoogleMaps{
  margin: 30px auto;
  height: 400px;
  width: 82%;
}
/* Explore Events  */
#ExploreNearbyList{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#ExploreCard{
  /* margin-left:100%;
  margin-right: 100%; */
  width: 48%;
  /* padding: auto 100%; */

}

/* Create Event */
#EventButtons{
  margin-left: auto;
}

/* Home Page */


/* NavBar */
#infoNav{
  padding-right:30px;
}
/* Footer */
#footer{
  margin-top: 100px;
  background-color: #aa0e25;
  height: 100px;
  color: white;
  padding: 20px;

}
