.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}


/*Explore Places CSS  */

#ExplorePlacesCont{
  margin:0 auto;
}
.PlaceCard{
  max-height: 420px;
  margin: 20px;
  padding:20px;
}
.PlaceCardImage{
  height: 250px;
}


/* Loading CSS Component */
#Loading{
  background-color: black;
  margin: 100px;
  padding: 100px;
}

/* SearchBars */
#SearchBarYelp, #EventForm{
  margin: 10px auto;
  border-radius: 20px;
  border: 10px solid lightgrey;
  padding: 20px;
  width:80%;
}
/* Google Maps */
#GoogleMaps{
  margin: 30px auto;
  height: 400px;
  width: 80%;
}

/* Create Event */
#EventButtons{
  margin-left: auto;
}
