/*Color Templates:
meetup: #e51937
darker red: #aa0e25
darker meetup: #d00c29
  */

.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #aa0e25;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}


/*Explore Places CSS  */

#ExplorePlacesCont, #ExploreNearbyList{
  margin:0 auto;
}
.PlaceCard{
  height: 450px;
  margin: 20px;
  padding:20px;
}
.PlaceCardImage{
  height: 250px;
}


/* Loading CSS Component */
#Loading{
  background-color: #222;
  margin: 100px;
  padding: 100px;
}

/* SearchBars */
#YelpSearch, #EventForm{
  margin: 10px auto;
  border-radius: 20px;
  border: 10px solid #aa0e25;
  padding: 20px;
  width:80%;
}
/* Google Maps */
#GoogleMaps{
  margin: 30px auto;
  height: 400px;
  width: 80%;
}

#ExploreNearbyList{
  width: 80%;
}

/* Create Event */
#EventButtons{
  margin-left: auto;
}

/* Home Page */
